
body {
    color: #000;
    font-size: 14px;
    font-family: "Helvetica", Arial, sans-serif;
    overflow-x: hidden;
}

select {
    font-family: "Helvetica", Arial, sans-serif;
}

p {
    margin: 0;
}

a, .checkout-payment-method .payment-option-title .action-toggle, .abs-action-remove, .cart.table-wrapper .action.help.map, .opc-wrapper .edit-address-link, .opc-block-shipping-information .shipping-information-title .action-edit, .action-auth-toggle, .checkout-payment-method .payment-method-billing-address .action-cancel, .checkout-payment-method .payment-method-billing-address .billing-address-details .action-edit-address, .checkout-agreements-block .action-show, .cart-summary .block.giftcard .action.check, .gift-options .actions-toolbar .action-cancel, .table-comparison .wishlist.split.button > .action, .product-items .wishlist.split.button > .action, .paypal-button-widget .paypal-button, .abs-add-fields .action.remove, .form-giftregistry-share .action.remove, .form-giftregistry-edit .action.remove, .form-add-invitations .action.remove, .form-create-return .action.remove, .form.send.friend .action.remove {
    color: #b7b7b7;
    font-weight: 400;
}

a:visited, .alink:visited,
a:hover, .alink:hover {
    color: #595959;
    text-decoration: underline;
}

/* image responsive */
.img-resp {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.img-resp > img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.img-resp > img.fullHeight,
.img-resp.fullHeight > img {
    height: 100%;
}

.img100 {
    padding-bottom: 100%;
}

.img133 {
    padding-bottom: 133.3333%;
}

.img60 {
    padding-bottom: 60%;
}

.img75 {
    padding-bottom: 75%;
}

.img70 {
    padding-bottom: 70%;
}

.img-full {
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* # image responsive */

.pad10 {
    padding-bottom: 10px;
}

.pad20 {
    padding-bottom: 20px;
}

.pad30 {
    padding-bottom: 30px;
}

.pad40 {
    padding-bottom: 40px;
}

.pad50 {
    padding-bottom: 50px;
}

.pad100 {
    padding-bottom: 50px;
}

/* GRID */

#maincontent {
    margin-top: 20px;
    z-index: 0;
}

@media only screen and (max-width: 1239px) {
    .col-1200, #maincontent {
        width: 100%;
        padding-left: 20px !important;
        padding-right: 20px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

@media only screen and (max-width: 767px) {
    .col-1200, #maincontent {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}

@media only screen and (min-width: 1240px) {
    .col-1200, #maincontent {
        width: 1200px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

/* # GRID */

/* breadcrumbs */
.breadcrumbs {
    padding: 0;
    margin: 0 0 20px;
}

.breadcrumbs li.item > strong {
    font-size: 9px;
    color: #b5b5b5;
}

.breadcrumbs li.item a {
    color: #b5b5b5;
    font-size: 9px;
    text-transform: uppercase;
}

.breadcrumbs .item:hover > a {
    font-weight: bold;
    text-decoration: underline !important;
}

.breadcrumbs .item:not(:last-child):after {
    -webkit-font-smoothing: antialiased;
    font-size: 10px;
    line-height: 17px;
    content: '/';
    margin: 0 2px;
    vertical-align: top;
    display: inline-block;
    font-weight: bold;
    overflow: hidden;
    text-align: center;
    color: #b5b5b5;
}

/* Footer */
.page-footer {
    background: #e1e1e1;
    padding: 0;
}

.firstFt {
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

.lastFt {
    border-top: 1px solid #c2c2c2;
    padding: 15px 0;
}

.paymentFt {
}

.paymentFt > img {
    margin-right: 10px;
}

.cprFt {
    text-align: right;
    font-size: 12px;
    color: #737373;
}

.titFt {
    margin-bottom: 15px;
}

.titFt span {
    font-size: 14px;
    font-weight: bold;
}

.itemMenuFt {
    width: 20%;
    float: left;
    padding-right: 20px;
}

.subMenuFt a, #newsletter-validate-detail .label {
    color: #5c5c5c !important;
    font-size: 12px;
}

.subMenuFt img {
    opacity: 0.5;
    margin-right: 10px;
}

.subMenuFt img:hover {
    opacity: 1;
}

.itemMenuFt.hasIcon .subMenuFt > a > div {
    margin: 0 0 5px;
}

.itemMenuFt.hasIcon .subMenuFt > a:last-child > div {
    margin: 0;
}

.titLetFt {
    color: #5c5c5c;
    margin: 0 0 20px;
}

.action.primary {
    background: #737373 none;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    padding: 7px 15px;
    font-size: 14px;
    vertical-align: middle;
    outline: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.action.primary:hover {
    background: #000;
    color: #fff;
    border: none;
}

#newsletter {
    background: transparent;
    border: none;
    border-bottom: 1px solid #c6c6c6;
    margin: 15px 0;
    padding: 0;
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#newsletter::-webkit-input-placeholder {
    color: #777;
}

#newsletter:-moz-placeholder {
    color: #777;
}

#newsletter::-moz-placeholder {
    color: #777;
}

#newsletter:-ms-input-placeholder {
    color: #777;
}

@media only screen and (max-width: 1239px) {
    .page-footer .hidden-xs {
        display: none !important;
    }

    .firstFt {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .itemMenuFt {
        width: 100%;
        float: left;
        padding: 0;
        border-top: 1px solid #898989;
    }

    .subMenuFt {
        display: none;
        background: #c2c2c2;
        float: left;
        width: 100%;
        padding: 15px 20px;
    }

    .titFt {
        margin-bottom: 0;
        cursor: pointer;
        padding: 15px 20px;
        float: left;
        width: 100%;
    }

    .itemMenuFt.hasIcon .titFt:after {
        display: inline-block;
        width: 22px;
        height: 22px;
        content: '';
        background: url(/pub/media/images/icon/close.png) no-repeat;
        position: absolute;
        right: 20px;
    }

    .itemMenuFt.hasIcon .titFt.open:after {
        background: url(/pub/media/images/icon/open.png) no-repeat;
    }

    #newsletter {
        border-bottom: 1px solid #898989;
        margin: 0 0 15px;
    }

    .lastFt {
        background: #000;
        padding: 15px 0;
    }

    .cprFt {
        color: #fff;
        text-align: left;
    }
}

/* # Footer */

/* Slider home */
#bannerHS {
    margin-bottom: 70px;
}

.sliderIcon {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    opacity: 0.3;
}

.sliderIcon:hover {
    opacity: 1;
}

.prevButtonWrap {
    left: 0;
}

.nextButtonWrap {
    right: 0;
}

.subBanner.row {
    margin-left: -7px;
    margin-right: -7px;
}

.subBannerItem {
    padding-left: 7px !important;
    padding-right: 7px !important;
    margin-bottom: 14px;
}

@media only screen and (max-width: 1239px) {
    #homePage {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

/* Slider home */

/* Header */
.page-header .panel.wrapper {
    background: #d6d6d6;
    border: none;
}

li.greet.welcome {
    display: none !important;
}

.page-header .header.panel {
    padding: 0;
}

.topPartner {
    float: left;
    height: 40px;
    line-height: 40px;
}

.topPartner a {
    opacity: 0.3;
    display: inline-block;
    float: left;
    margin: 0 20px 0 0;
}

.topPartner a:hover {
    opacity: 1;
}

.header.panel > .header.links {
    height: 40px;
    font-size: 11px;
}

.customerIcon {
    text-align: right;
    margin: -5px 5px 0 0;
}

li.authorization-link > a > span {
    height: 40px;
    display: inline-block;
    line-height: 40px;
}

.header.panel > .header.links a,
.header.panel > .header.links > li > a {
    color: #000 !important;
    text-transform: uppercase;
    font-size: 11px;
    text-decoration: none !important;
}

.header.content {
    padding: 0;
    max-width: 100%;
}

.header.content .logo {
    margin: 0 auto;
    float: none;
    display: block;
    max-width: 100%;
}

.header.content .logo > img {
    margin: 0 auto;
    padding: 20px 0;
}

.promoCode {
    background: #000;
}

.promoCode .promoInner {
    color: #fff;
    text-align: center;
    padding: 0;
    font-weight: bold;
    font-size: 11px;
    height: 20px;
    line-height: 20px;
}

/* Menu */
.nav-sections-items {
    position: relative;
    margin: 0;
}

.section-item-content.nav-sections-item-content[id="store.menu"] {
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    float: left;
}

.nav-sections {
    padding: 0;
    margin: 0;
    background: transparent;
    z-index: 1;
}

#topMenuBar {
    background: transparent;
    float: left;
    width: auto;
}

#topMenuBar > ul {
    font-size: 14px;
    color: #000;
    padding: 0;
}

#topMenuBar .level0 {
    margin: 0;
}

#topMenuBar a {
    color: #000;
    padding: 0 20px;
    line-height: 50px;
    font-size: 14px;
}

#topMenuBar a:hover {
    text-decoration: underline !important;
}

#topMenuBar .submenu {
    padding: 5px 0;
}

#topMenuBar .submenu a {
    font-size: 12px;
    line-height: 30px;
}

#topMenuBar .submenu > li {
    margin: 0;
}

li.ui-menu-item.all-category {
    font-weight: bold;
}

@media only screen and (min-width: 768px) {
    #topMenuBar .level0 .submenu {
        min-width: 580px;
    }

    .navigation .level0 .submenu a:hover, .navigation .level0 .submenu a.ui-state-focus {
        background: #fff;
    }

    #topMenuBar .level0 .submenu .submenu {
        top: auto !important;
        left: 0 !important;
        position: relative;
        border: none;
        box-shadow: none;
        min-width: 0 !important;
        display: block !important;
        padding: 0;
    }

    #topMenuBar .level0.submenu > li {
        float: left;
        width: 25%;
    }

    #topMenuBar .level0.submenu > li:nth-child(2n+1) {
        clear: both;
    }

    #topMenuBar li.level0 > .submenu:before {
        content: '';
        position: absolute;
        width: 250px;
        height: 150px;
        right: 15px;
        top: 15px;
    }

    #topMenuBar .submenu li.level2 > a {
        font-weight: normal;
    }

    #topMenuBar .submenu a {
        line-height: 24px;
        padding: 0 0 0 20px;
    }

    #topMenuBar a:hover {
        background: #fff;
    }
}

/* # Menu */

/* search */
.block-search {
    display: block;
    float: left;
    padding: 0;
    margin-left: 15px;
    width: 200px;
    line-height: 50px;
}

#search_mini_form {
    position: relative;
    padding: 0 0 0 35px;
}

#search_mini_form .label.active + .control #search {
    text-decoration: underline;
}

#search_mini_form .nested {
    display: none;
}

#search_mini_form .control {
    padding: 0;
}

#search {
    padding: 0;
    border: none;
    outline: 0;
    box-shadow: none;
    left: 0;
    vertical-align: middle;
}

#search::-webkit-input-placeholder {
    color: #a2a2a2;
    font-weight: bold;
}

#search:-moz-placeholder { /* Firefox 18- */
    color: #a2a2a2;
    font-weight: bold;
}

#search::-moz-placeholder { /* Firefox 19+ */
    color: #a2a2a2;
    font-weight: bold;
}

#search:-ms-input-placeholder {
    color: #a2a2a2;
    font-weight: bold;
}

#search_mini_form .action.search {
    left: 0;
    padding: 0;
}

#search_mini_form .action.search::before {
    font-size: 26px;
    vertical-align: middle;
    background: url("/pub/media/images/icon/search.png") no-repeat center;
    color: transparent;
    width: 20px;
}

/* #Search */

@media only screen and (max-width: 767px) {
    .topPartner, .sections.nav-sections .minicart-wrapper,
    #txtCartHeader {
        display: none;
    }

    .page-header {
        overflow: hidden;
        margin: 0;
        border: none;
    }

    .header.content .logo > img {
        padding: 10px 0;
    }

    .header.content .nav-toggle {
        top: 5px;
    }

    .section-item-content.nav-sections-item-content[id="store.menu"] {
        position: relative;
        top: 0;
        left: 0;
        padding: 0;
        float: right;
        -webkit-transform: scaleY(-1);
        -moz-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
        transform: scaleY(-1);
    }

    #topMenuBar {
        float: left;
        width: 100%;
        -webkit-transform: scaleY(-1);
        -moz-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
        transform: scaleY(-1);
    }

    .block-search {
        display: block;
        float: left;
        line-height: 1;
        width: 100%;
        height: 32px;
        margin: 0;
        -webkit-transform: scaleY(-1);
        -moz-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
        transform: scaleY(-1);
    }

    #topMenuBar a {
        border: none;
        color: #000;
        padding: 0 20px;
        line-height: 30px;
        font-size: 12px;
    }

    .navigation .parent .level-top:after {
        position: absolute;
        right: 0;
        top: 0;
    }

    #search_mini_form {
        padding: 0;
    }

    #search_mini_form .label {
        display: none;
    }

    #search_mini_form .control {
        padding: 0;
        margin: 0;
        border: none;
    }

    #search {
        padding: 0 20px;
        margin: 0;
    }

    .navigation .level0.active > a:not(.ui-state-active) span:not(.ui-menu-icon) {
        margin: 0;
    }

    .topPartner {
        float: left;
        line-height: 0;
        width: 100%;
        height: auto;
        background: #c2c2c2;
        padding: 20px;
        clear: both;
        -webkit-transform: scaleY(-1);
        -moz-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
        transform: scaleY(-1);
    }

    .topPartner > p {
        font-size: 12px;
        font-weight: bold;
        margin: 0 0 15px;
        line-height: 1;
    }

    .header.panel > .header.links {
        display: block;
        height: 0;
        margin: 0;
    }

    .page-header .panel.wrapper {
        background: transparent;
    }

    .header.panel > .header.links > li {
        display: none;
    }

    .header.links .minicart-wrapper {
        position: absolute;
        right: 15px;
        top: 3px;
        margin: 0;
        cursor: pointer;
        z-index: 99;
    }

    .minicart-wrapper .showcart:before {
        background: url("/pub/media/images/icon/cart.png") no-repeat right;
    }

    .header.content .logo {
        max-width: 120px;
    }
}

/* # Header */

/* Slider Home */
.productSlider {
    padding: 0 40px;
}

.carousel.slide .slideCtr {
    position: absolute;
    top: 0;
    height: 100%;
    width: 40px;
}

.carousel.slide .slideCtr.prevButtonWrap {
    left: 0;
}

.carousel.slide .slideCtr.nextButtonWrap {
    right: 0;
}

.carousel.slide .slideCtr > img {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0.3;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.carousel.slide .slideCtr:hover > img {
    opacity: 1;
}

.titPSlide {
    text-align: center;
    color: #3f3f3f;
    padding: 5px 0 3px;
    margin: 0;
}

.pricePSlide {
    text-align: center;
    color: #3f3f3f;
    padding: 0 0 5px;
    margin: 0;
    font-weight: bold;
}

.isSaleLB:before, .isSaleLB::before, .isSalePr:before {
    content: '\00a0\00a0 SALE';
    position: absolute;
    left: 0;
    bottom: 0;
    background: transparent;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    z-index: 1;
    text-align: left;
    line-height: 100px;
    width: 0;
    height: 0;
    margin: 0;
    border-right: 60px solid transparent;
    border-bottom: 60px solid #000;
}

.isNewLB:after, .isNewLB::after, .isNewPr:after {
    content: '\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 NEW';
    top: 0;
    right: 0;
    position: absolute;
    background: transparent;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    text-align: right;
    z-index: 1;
    line-height: 20px;
    width: 0;
    height: 0;
    margin: 0;
    border-right: 60px solid #000;
    border-bottom: 60px solid transparent;
}

p.headHome {
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding: 0 0 30px;
}

.productSlider .row > .HS-item-Resp {
    padding: 10px;
    float: left;
    margin: 0;
    width: 25%;
}

@media only screen and (min-width: 480px) and (max-width: 980px ) {
    .productSlider .row > .HS-item-Resp {
        width: 50%;
    }

    .productSlider .row > .HS-item-Resp {
        /*margin: 0 0 20px;*/
        margin: 0;
    }

    .productSlider .row > .HS-item-Resp:nth-child(2n+1) {
        clear: both;
        margin: 0
    }

    .productSlider .row > .HS-item-Resp:last-child {
        margin: 0
    }
}

@media only screen and (max-width: 479px ) {
    .productSlider .row > .HS-item-Resp {
        width: 100%;
    }
}

/* # Slider Home */

@media only screen and (max-width: 767px) {
    .top-container {
        padding: 0;
    }
}

/* Category page */
.page-title {
    font-size: 30px;
    margin: 0 !important;
    padding: 0;
    font-weight: 400;
}

.navigation .level0.active > .level-top, .navigation .level0.has-active > .level-top {
    border: none;
}

.category-description {
    margin: 0;
    padding: 20px 0;
}

.toolbar-products {
    padding: 0;
}

.limiter-options {
    margin: 0 0 0 5px;
    padding: 5px 5px 4px;
    outline: 0;
    box-shadow: none;
}

.block-content.filter-content a {
    font-size: 12px;
}

.block-content.filter-content a:hover {
    color: initial;
    text-decoration: underline !important;
}

.filter .block-subtitle {
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 0;
    color: #222;
    text-transform: uppercase;
}

.filter-options-content {
    margin: 0;
    padding: 0;
}

.filter-options-title {
    padding: 10px 40px 0 0;
}

.page-products .toolbar .limiter {
    display: none !important;
}

#sorter {
    padding: 5px 5px 4px;
}

.page-products .sorter {
    float: left;
    left: 0;
    padding: 0;
}

.products-grid .product-item-info:hover {
    margin: 0;
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

}

.product-item-name {
    text-align: center;
    margin: 5px 0 3px;
}

.products.list .price-label {
    display: none;
}

.products-grid .product-item-actions {
    display: none;
}

.products.list .old-price .price {
    text-decoration: line-through;
}

.products.list .special-price,
.products.list .old-price {
    display: inline-block;
}

.products.list .product-item .price-box {
    margin: 0;
    text-align: center;
    padding: 0 0 5px;
}

.hoverProduct {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
    left: 0;
    z-index: 2;
    display: none;
}

.hoverProduct a {
    text-decoration: none !important;
}

.hoverProductWrapper:hover > .hoverProduct {
    display: block;
}

.parentTable {
    display: table;
    position: absolute;
    width: 100%;
    height: 100%;
}

.cellTable {
    display: table-cell;
    vertical-align: middle;
}

.quickView {
    background: transparent;
    color: #000;
    text-align: center;
    width: 120px;
    margin: 0 auto;
    padding: 10px 0;
    border: 1px solid #000;
}

.viewProduct {
    color: #000;
    text-align: center;
    width: 180px;
    margin: 20px auto 0;
    padding: 10px 0;
    border: 1px solid #000;
}

.quickView:hover, .viewProduct:hover {
    background: #000;
    color: #fff;
}

.toolbar-products .pages {
    display: block;
    float: right;
}

.products.wrapper + .toolbar .pages {
    float: right;
}

.viewAll {
    font-size: 12px;
    float: right;
    line-height: 32px;
    letter-spacing: normal;
    margin: 0 0 0 10px;
}

.viewAll:hover {
    text-decoration: underline;
}

.pages .item {
    font-size: 12px;
    letter-spacing: normal;
    line-height: 32px;
    margin: 0 5px;
    display: inline-block;
}

.pages a.page {
    color: #b7b7b7;
    display: inline-block;
    padding: 0 5px;
}

.pages a.page:visited, .pages a.page:hover {
    color: #b7b7b7;
}

.pages strong.page {
    color: #000;
}

.product-item-name, .product.name a {
    font-size: 12px;
}

.pages .item:hover a.page, .pages .item.current .label + span {
    text-decoration: underline !important;
}

.page-products .products-grid .product-items {
    margin: 0 -10px;
}

.page-products .products-grid .product-item {
    margin: 0;
    width: 33.3333%;
    padding: 10px;
}

.page-products .product-item-info {
    width: 100%;
}

#mini-cart .product-image-container {
    width: 100% !important;
}

.product-image-photo {
    width: 100%;
}

.page-layout-2columns-left .sidebar-main {
    width: 220px;
    float: left;
    min-width: 220px;
    padding: 0 20px 0 0;
}

.page-layout-2columns-left .column.main {
    width: calc(100% - 222px);
    float: right;
    min-width: 490px;
}

.block.filter .filter-title {
    margin: 0 0 20px;
}

.block.filter .filter-title strong {
    font-size: 14px;
}

.filter-options .filter-options-title {
    font-weight: normal;
    line-height: 1.4;
    font-size: 14px;
    margin: 0 0 10px;
    word-break: break-all;
    border-top: 1px solid #ccc;
    padding: 20px 0 0 0;
    text-transform: uppercase;
}

.filter-options .filter-options-content {
    margin: 0 0 20px;
}

.catalog-category-view .swatch-option-tooltip {
    display: none !important;
}

/* sort tool */
#sort-tool, .sort-inner-tool {
    float: left;
}

#sort-tool > span {
    float: left;
    margin-right: 20px;
}

.products.wrapper + .toolbar-products #sort-tool {
    display: none;
}

@media only screen and (max-width: 767px) {
    .page-layout-2columns-left .sidebar-main,
    .page-layout-2columns-left .column.main {
        width: 100%;
        float: right;
        min-width: 100%;
        padding: 0;
    }
}

@media only screen and (min-width: 480px) and (max-width: 992px) {
    .page-products .products-grid .product-item {
        width: 50%;
    }
}

@media only screen and (max-width: 479px) {
    .page-products .products-grid .product-item {
        width: 100%;
    }
}

/* # Category page */

/* Quick View */
.containerPopUpWrap {
    position: fixed;
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
}

.containerPopUpWrap.open {
    display: block;
}

.popUpInnerWrap {
    position: relative;
    background: #fff;
    padding: 20px;
    width: 100%;
    max-width: 700px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#closeQuickViewAction {
    float: right;
    color: #808080;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 20px;
}

#dataQuickView .leftImg {
    padding: 5px;
    border: 1px solid #c2c2c2;
}

#dataQuickView img {
    width: 100%;
    height: auto;
    max-width: 100%;
    /*max-height: 400px;*/
    margin: 0 auto;
    display: block;
}

#titQuickView {
    text-decoration: none;
    color: #000;
    font-size: 24px;
    line-height: normal;
    font-weight: bold;
    display: block;
}

#skuQuickView {
    color: #777;
    font-size: 12px;
    margin: 10px 0 20px;
}

#priceQuickView {
    font-size: 26px;
    font-weight: normal;
    margin: 0;
}

.lineQuickView {
    display: block;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #e1e1e1;
    margin: 20px 0;
}

#desQuickView {
    margin: 0;
}

#desQuickView, #desQuickView p,
#desQuickView span, #desQuickView div {
    color: #808080 !important;
}

#addToCartQuickView .tocart {
    width: calc(50% - 10px);
    float: left;
}

#addToCartQuickView .viewDetail {
    width: calc(50% - 10px);
    float: right;
    color: #000;
    border: 1px solid #000;
    text-align: center;
    padding: 4px 0;
    font-weight: bold;
}

@media only screen and (max-width: 767px) {
    .popUpInnerWrap {
        width: calc(100% - 20px);
    }

    #titQuickView {
        margin-top: 15px;
        font-size: 20px;
    }

    #skuQuickView {
        font-size: 12px;
        margin: 10px 0;
    }

    #priceQuickView {
        font-size: 20px;
    }

    #desQuickView p {
        font-size: 12px;
    }

    .lineQuickView {
        margin: 15px 0;
    }

    #dataQuickView img {
        max-height: 25vh;
        width: auto;
    }

    .popUpInnerWrap {
        padding: 15px;
    }

    #closeQuickViewAction {
        margin-bottom: 15px;
        font-size: 12px;
    }
}

/* Quick View */

/* Mini cart */

#mini-cart {
    margin: 0;
    padding: 0;
    list-style: none none;
    height: auto !important;
    max-height: 350px;
}

.minicart-wrapper {
    margin-left: 30px;
}

.minicart-wrapper .showcart:before {
    content: '';
    background: url("/pub/media/images/icon/cart.png") no-repeat 0 10px;
    margin: 0;
    vertical-align: top;
    display: inline-block;
    width: 20px;
    height: 40px;
}

#txtCartHeader {
    display: inline-block;
    font-size: 11px;
    line-height: 40px;
}

.minicart-items .product-item-details {
    float: right;
    width: calc(100% - 100px);
    padding: 0;
}

.minicart-wrapper .block-minicart {
    right: 0;
    margin: 0;
    width: 320px;
}

.minicart-items .product-item-name {
    font-weight: 400;
    margin: 0;
    text-align: left;
}

.minicart-items-wrapper {
    margin: 20px 0 0;
    border: 0 solid #ccc;
    border-bottom-width: 1px;
    overflow-x: auto;
    padding: 0;
}

#btn-minicart-close {
    position: absolute;
    width: 80px;
    text-align: center;
    right: 20px;
    top: 0;
    vertical-align: middle;
}

#btn-minicart-close:before {
    display: none;
}

.minicart-items .product-item {
    padding: 15px 0;
}

.block-minicart .subtitle.empty {
    font-size: 13px;
}

#btn-minicart-close > span {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    font-size: 13px;
    line-height: 40px;
    color: #777;
    clip: auto;
    text-align: right;
}

.block-minicart .subtotal {
    margin: 12px 0 0;
    text-align: right;
}

.block-minicart .subtotal .label,
.block-minicart .subtotal .price-container,
.block-minicart .subtotal .price-container span.price {
    display: inline-block;
    font-size: 14px !important;
}

.block-minicart .block-content > .actions > .primary {
    margin: 0;
}

.minicart-wrapper .minicart-widgets {
    margin-top: 0;
}

.minicart-wrapper a.action.viewcart > span {
    text-transform: initial;
    border-bottom: 1px solid #000;
}

.minicart-items-wrapper .product-item-details dt,
.minicart-items-wrapper .product-item-details dd {
    float: left;
    margin: 0 7px 0 0;
}

.minicart-items-wrapper .product-item-details dt {
    clear: both;
}

.minicart-items-wrapper .product-item-details .content {
    float: left;
    width: 100%;
}

.minicart-items-wrapper .product-item-details .price-container {
    float: left;
}

.minicart-items-wrapper .product-item-details .product.actions {
    float: left;
    margin: 10px 0 0;
    text-align: left;
    clear: both;
}

.minicart-items .product-item-details .details-qty {
    margin: 0;
    float: left;
    clear: both;
    display: block !important;
}

.minicart-items .product-item-pricing .label {
    display: inline-block;
    width: auto;
}

.minicart-items .item-qty {
    width: 40px;
    display: inline-block;
    height: 20px;
    font-size: 12px;
    border: 1px solid #000;
    padding: 0 5px;
    text-align: center;
    margin: 5px 0 0;
}

.minicart-items .action.edit:before, .minicart-items .action.delete:before {
    display: none;
}

.minicart-items .action.edit > span, .minicart-items .action.delete > span {
    border: 0;
    clip: auto;
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: auto;
}

.minicart-items-wrapper .product-item-details .product.actions .primary:after {
    content: "|";
    margin: 0 5px;
}

/* # mini cart*/

/* Detail Page */
@media only screen and (min-width: 768px) {
    .catalog-product-view .header > .logo {
        display: none;
    }
}

.catalog-product-view #maincontent {
    margin-top: 0;
}

.page-layout-1column .product.media {
    width: 50%;
    padding: 0 15px 0 0;
}

.page-layout-1column .product-info-main {
    width: 50%;
    padding: 0 0 0 15px;
}

.titDetailSlider {
    text-transform: uppercase;
    margin: 0;
    padding: 0 0 20px;
    font-weight: bold;
    font-size: 16px;
}

.oldPrice {
    text-decoration: line-through;
}

.otherSliderWrapper {
    width: 100%;
    clear: both;
    padding: 0;
}

.product-info-main .page-title-wrapper {
    margin-top: -10px;
}

.product-info-main .price-box {
    margin-top: 20px;
}

.product-info-main .box-tocart .action.tocart {
    padding: 10px 50px;
}

.product-info-main .product.attibute.sku {
    font-size: 12px;
}

.product-info-main .action.towishlist,
.product-info-main .action.towishlist:hover {
    background: none;
    border: none;
}

.catalog-product-view .action.mailto.friend:before {
    display: none;
}

.product-social-links {
    margin: 0 0 20px;
    overflow: hidden;
}

.product-info-main .product-addto-links {
    margin: 0 0 10px;
}

img.heartIcon {
    margin: 0 10px 0 0;
}

img.share-social {
    margin: 0 10px 0 0;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.detailInfoWrapper .content {
    padding: 10px 0 0;
}

.detailInner {
    padding: 15px 20px;
    border: 1px solid #ccc;
    margin: 0 0 20px;
}

.detailHead {
    position: relative;
}

.detailHead > span {
    font-size: 16px;
    font-weight: bold;
    padding: 0 0 10px;
    cursor: pointer;
}

.dropContent {
    position: relative;
    float: right;
    top: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: 1px solid;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-family: 'icons-blank-theme', Tahoma, sans-serif;
}

.dropContent:after {
    content: "\e621";
    position: absolute;
    pointer-events: none;
    font-size: 30px;
    left: -6px;
    top: -12px;
    width: 0;
    height: 0;
}

.dropContent.active:after {
    content: "\e622";
}

.swatch-attribute-label {
    text-transform: uppercase;
}

.shippingDetail{
    color: #585858;
}

.catalog-product-view .product-info-main .price-box .price-wrapper .price {
    font-size: 26px;
    font-weight: 700;
}

.catalog-product-view .product-info-main .box-tocart .field.qty,
.catalog-product-view .product-info-main .product-info-stock-sku .stock {
    display: none;
}

.catalog-product-view .swatch-attribute.color {
    margin: 0 0 30px;
}

.catalog-product-view .swatch-attribute.size .swatch-attribute-options {
    width: 200px;
    margin-right: 20px;
}

/* Size Chart */
.catalog-product-view .swatch-attribute.size .swatch-attribute-label,
.catalog-product-view .swatch-attribute.size .swatch-attribute-selected-option {
    display: block;
}
.catalog-product-view .swatch-attribute.size .swatch-attribute-options,
.catalog-product-view .swatch-attribute.size .clickSizeChart {
    display: inline-block;
}

#sizeChartContent {
    position: absolute;
    max-width: 250px;
    font-size: 12px !important;
    border: 1px solid #000;
    background: #fff;
    z-index: 1;
    display: none;
}

#sizeChartContent.open {
    display: block;
}

.clickSizeChart > span {
    color: #585858;
    cursor: pointer;
    text-decoration: underline;
}

.shipingDetail {
    text-decoration: underline;
}

.clickSizeChart > span:hover {
    text-decoration: underline;
}

#sizeChartContent .wrap {
    position: relative;
    padding: 15px 20px 20px;
    overflow: hidden;
}

#sizeChartContent .content {
    position: relative;
    max-height: 200px;
    overflow-y: scroll;
    float: left;
    width: 100%;
}

#closeSizeChart {
    position: relative;
    float: right;
    color: #999;
    padding: 0 0 10px;
    cursor: pointer;
}

/* Gallery Slider */

.fotorama__nav-wrap, .gallery-placeholder {
    position: relative;
}

.fotorama__nav--thumbs {
    padding: 27px 0;
    height: 630px !important;
}

.fotorama__thumb-border,
.fotorama__stage.fotorama__shadows--left:before, .fotorama__nav.fotorama__shadows--left:before,
.fotorama__stage.fotorama__shadows--right:after, .fotorama__nav.fotorama__shadows--right:after {
    display: none;
}

.fotorama__nav-wrap--horizontal .fotorama__thumb__arr--left,
.fotorama__nav-wrap--horizontal .fotorama__thumb__arr--right {
    background: none;
}

.fotorama__nav-wrap--horizontal .fotorama__thumb__arr--left .fotorama__thumb__arr {
    background: url('/pub/media/images/icon/pLeft.png') no-repeat center;
}

.fotorama__nav-wrap--horizontal .fotorama__thumb__arr--right .fotorama__thumb__arr {
    background: url('/pub/media/images/icon/pRight.png') no-repeat center;
}

.fotorama__nav-wrap .fotorama_vertical_ratio .fotorama__img {
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.fotorama__nav-wrap--vertical.fotorama__nav-wrap {
    position: relative;
    float: left;
    width: 99px;
    height: 632px;
    padding: 0;
}

.fotorama__arr--disabled {
    opacity: 1;
}

@media only screen and (min-width: 768px) {
    .fotorama__wrap .fotorama__stage {
        float: right;
        width: calc(100% - 115px) !important;
        padding-bottom: calc(134% - 153px) !important;
        left: auto !important;
        height: 0 !important;
        line-height: 1 !important;
    }
}

.fotorama__stage__shaft {
    width: 100% !important;
    max-width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
}

.fotorama__stage__frame .fotorama__img {
    vertical-align: top;
    padding: 0 !important;
    width: 100% !important;
    height: auto !important;
}

.fotorama__nav__frame--thumb.fotorama__active > .fotorama__thumb {
    border: 1px solid #000;
    padding: 5px;
    background: #fff;
}

.fotorama__nav--thumbs .fotorama__nav__frame {
    padding: 6px 0 0 !important;
    width: 100% !important;
    height: auto !important;
}

.fotorama__nav-wrap--vertical .fotorama__nav__shaft .fotorama__nav__frame--thumb {
    display: block;
    padding-bottom: 6px !important;
}

.fotorama__nav-wrap--vertical .fotorama__thumb__arr--left, .fotorama__nav-wrap--vertical .fotorama__thumb__arr--right {
    background: #fff !important;
}

.fotorama--fullscreen {
    background: rgba(19, 0, 0, 0.7);
}

.fotorama--fullscreen .fotorama__nav-wrap {
    display: none !important;
}

.fotorama--fullscreen .fotorama__stage {
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    margin: auto !important;
    width: auto !important;
    height: 90% !important;
    padding: 50px 15px 0 !important;
    line-height: 1 !important;
    overflow: visible;
}

.fotorama--fullscreen .fotorama__wrap {
    max-width: 100% !important;
    width: 100% !important;
    height: 100%;
}

.fotorama--fullscreen .fotorama__stage__shaft {
    margin: 0 auto !important;
    max-width: 100% !important;
}

.fotorama--fullscreen .fotorama__fullscreen-icon {
    background-position: -50px 0;
    top: 0;
    color: #000;
}

.fotorama--fullscreen .fotorama__stage__frame .fotorama__img {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    width: auto !important;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    margin: auto !important;
}

.fotorama--fullscreen .fotorama__fullscreen-icon {
    background: url(/pub/media/images/icon/full/exit.png) no-repeat center;
    right: 15px !important;
    top: -10px !important;
}

.fotorama__zoom-in, .fotorama__zoom-out {
    display: none !important;
}

.fotorama__fullscreen .fotorama__arr--prev .fotorama__arr__arr {
    background: url(/pub/media/images/icon/full/fullLeft.png) no-repeat center;
}

.fotorama__fullscreen .fotorama__arr--next .fotorama__arr__arr {
    background: url(/pub/media/images/icon/full/fullRight.png) no-repeat center;
}

.fotorama__fullscreen .fotorama__arr--next {
    right: 0 !important;
}

.catalog-product-view .swatch-option-tooltip {
    display: none !important;
}

.summaryDetail {
    padding: 0 0 12px;
    font-size: 14px;
    color: #555;
}

.swatch-option.selected,
.swatch-option.image:not(.disabled):hover,
.swatch-option.color:not(.disabled):hover {
    outline: 2px solid #000;
}

@media only screen and (max-width: 767px) {
    .catalog-product-view .breadcrumbs,
    .catalog-product-view .lineQuickView,
    .magnify-lens, #preview {
        display: none;
    }

    .catalog-product-view #maincontent {
        padding: 0 !important;
        margin: 0 !important;
    }

    .page-layout-1column .product.media {
        width: 100%;
        padding: 0;
    }

    .page-layout-1column .product-info-main {
        width: 100%;
        padding: 0 15px;
    }

    .fotorama__stage, .fotorama__nav {
        max-width: 100%;
        overflow: hidden;
        position: relative;
        width: 100% !important;
    }

    .fotorama__stage__frame .fotorama__img {
        width: 100%;
        float: left;
    }

    .fotorama__nav--dots {
        height: auto !important;
        text-align: right;
        padding-right: 15px;
    }

    .fotorama__dot {
        border-radius: 10px;
        border: 1px solid #000;
        display: block;
        height: 10px;
        left: 6px;
        position: relative;
        top: 12px;
        width: 10px;
        cursor: pointer;
    }

    .fotorama__active .fotorama__dot {
        background: #000;
        border-color: #000;
    }

    .otherSliderWrapper {
        padding: 15px 15px 0;
        margin: 0;
    }

    .otherSliderInner {
        position: relative;
        border: 1px solid #ccc;
        padding: 12px 0;
    }

    .titDetailSlider {
        padding: 0 15px 15px;
        font-size: 14px;
    }

    .catalog-product-view .productSlider {
        padding: 0 15px;
    }

    .catalog-product-view .carousel.slide .slideCtr {
        position: absolute;
        top: -47px;
        padding: 0;
        height: 40px;
    }

    .catalog-product-view .carousel.slide .slideCtr.prevButtonWrap {
        left: auto;
        right: 45px;
    }

    .catalog-product-view .carousel.slide .slideCtr.nextButtonWrap {
        right: 0;
    }

    .catalog-product-view .carousel.slide .slideCtr > img {
        width: 9px;
    }

    /* social icon */
    .product-info-main .product-addto-links {
        float: left;
        margin: 0;
    }

    img.share-social {
        float: left;
    }

    .detailInner {
        padding: 10px 15px;
    }

    .fotorama--fullscreen .fotorama__stage__frame .fotorama__img {
        width: 100% !important;
        height: auto !important;
    }
}

/* # Detail Page */

.block-collapsible-nav .item.current a, .block-collapsible-nav .item.current strong,
.navigation .level0 .submenu .active > a {
    border-color: #000;
}