
body {
    color: #000;
    font-size: 14px;
    font-family: "Helvetica", Arial, sans-serif;
}

p {
    margin: 0;
}

a {
    text-decoration: none !important;
}

/* image responsive */
.img-resp {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.img-resp > img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.img-resp > img.fullHeight {
    height: 100%;
}

.img100 {
    padding-bottom: 100%;
}

.img150 {
    padding-bottom: 150%;
}

.img70 {
    padding-bottom: 70%;
}

.img-full {
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* # image responsive */

.pad10 {
    padding-bottom: 10px;
}

.pad20 {
    padding-bottom: 20px;
}

.pad30 {
    padding-bottom: 30px;
}

.pad40 {
    padding-bottom: 40px;
}

.pad50 {
    padding-bottom: 50px;
}

.pad100 {
    padding-bottom: 50px;
}

/* GRID */

#maincontent {
    margin-top: 20px;
    z-index: 0;
}

@media only screen and (max-width: 1239px) {
    .col-1200, #maincontent {
        width: 100%;
        padding-left: 20px !important;
        padding-right: 20px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

@media only screen and (max-width: 767px) {
    .col-1200, #maincontent {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}

@media only screen and (min-width: 1240px) {
    .col-1200, #maincontent {
        width: 1200px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

/* # GRID */

/* breadcrumbs */
.breadcrumbs {
    padding: 0;
    margin: 0;
}

/* Footer */
.page-footer {
    background: #e1e1e1;
    padding: 0;
}

.firstFt {
    width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
}

.lastFt {
    border-top: 1px solid #c2c2c2;
    padding: 30px 0;
}

.paymentFt {
    padding-top: 10px;
}

.paymentFt > img {
    margin-right: 10px;
}

.cprFt {
    text-align: right;
}

.titFt {
    margin-bottom: 15px;
}

.titFt span {
    font-size: 16px;
    font-weight: bold;
}

.itemMenuFt {
    width: 20%;
    float: left;
    padding-right: 20px;
}

.subMenuFt a, #newsletter-validate-detail .label {
    color: #5c5c5c !important;
}

.subMenuFt img {
    opacity: 0.5;
    margin-right: 10px;
}

.subMenuFt img:hover {
    opacity: 1;
}

.itemMenuFt.hasIcon .subMenuFt > a > div {
    margin: 0 0 5px;
}

.itemMenuFt.hasIcon .subMenuFt > a:last-child > div {
    margin: 0;
}

.titLetFt {
    color: #5c5c5c;
    margin: 0 0 20px;
}

.action.primary {
    background: #000 none;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 700;
    padding: 7px 15px;
    font-size: 14px;
    vertical-align: middle;
    outline: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.action.primary:hover {
    background: #02083b;
    color: #fff;
    border: none;
}

#newsletter {
    background: transparent;
    border: none;
    border-bottom: 1px solid #c6c6c6;
    margin: 15px 0;
    padding: 0;
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

@media only screen and (max-width: 1239px) {
    .page-footer .hidden-xs {
        display: none !important;
    }

    .firstFt {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .itemMenuFt {
        width: 100%;
        float: left;
        padding: 0;
        border-top: 1px solid #898989;
    }

    .subMenuFt {
        display: none;
        background: #c2c2c2;
        float: left;
        width: 100%;
        padding: 15px 20px;
    }

    .titFt {
        margin-bottom: 0;
        cursor: pointer;
        padding: 15px 20px;
        float: left;
        width: 100%;
    }

    .itemMenuFt.hasIcon .titFt:after {
        display: inline-block;
        width: 22px;
        height: 22px;
        content: '';
        background: url(/pub/media/images/icon/close.png) no-repeat;
        position: absolute;
        right: 20px;
    }

    .itemMenuFt.hasIcon .titFt.open:after {
        background: url(/pub/media/images/icon/open.png) no-repeat;
    }

    #newsletter {
        border-bottom: 1px solid #898989;
        margin: 0 0 15px;
    }

    #newsletter::-webkit-input-placeholder {
        color: #898989;
    }

    #newsletter:-moz-placeholder {
        color: #898989;
    }

    #newsletter::-moz-placeholder {
        color: #898989;
    }

    #newsletter:-ms-input-placeholder {
        color: #898989;
    }

    .lastFt {
        background: #000;
        padding: 15px 0;
    }

    .cprFt {
        color: #fff;
        text-align: left;
    }
}

/* # Footer */

/* Slider home */
#bannerHS {
    margin-bottom: 70px;
}

.sliderIcon {
    position: absolute;
    top: 50%;
    margin-top: -50px;
}

.prevButtonWrap {
    left: 0;
}

.nextButtonWrap {
    right: 0;
}

.subBannerItem {
    margin-bottom: 20px;
}

@media only screen and (max-width: 1239px) {
    #homePage {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

/* Slider home */

/* Header */
.page-header .panel.wrapper {
    background: #d6d6d6;
    border: none;
}

.page-header .header.panel {
    padding: 0;
}

.topPartner {
    float: left;
    height: 60px;
    line-height: 60px;
}

.topPartner a {
    margin: 0 10px 0 0;
}

.topPartner img {
    margin-right: 20px;
}

.header.panel > .header.links {
    line-height: 60px;
    height: 60px;
}

.customerIcon {
    text-align: right;
    margin: -5px 5px 0 0;
}

li.authorization-link > a > span {
    height: 60px;
    display: inline-block;
    line-height: 60px;
}

.header.panel > .header.links a,
.header.panel > .header.links > li > a {
    color: #000 !important;
    text-transform: uppercase;
}

.header.content {
    padding: 0;
    max-width: 100%;
}

.header.content .logo {
    margin: 0 auto;
    float: none;
    display: block;
    max-width: 100%;
}

.header.content .logo > img {
    margin: 0 auto;
    padding: 40px 0;
}

.promoCode {
    background: #000;
}

.promoCode .promoInner {
    color: #fff;
    text-align: center;
    padding: 5px 0;
    font-weight: bold;
}

/* mini cart */
.minicart-wrapper {
    margin-left: 30px;
}

.minicart-wrapper .showcart:before {
    content: '';
    background: url("/pub/media/images/icon/cart.png") no-repeat 0 20px;
    margin: 0;
    vertical-align: top;
    display: inline-block;
    width: 20px;
    height: 60px;
}

#txtCartHeader {
    display: inline-block;
    font-size: 14px;
}

/* # Mini cart */

/* Menu */
.nav-sections-items {
    position: relative;
    margin: 0;
    padding-top: 15px;
}

.nav-sections-item-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    float: left;
}

.nav-sections {
    padding: 0;
    margin: 0 0 20px;
    background: transparent;
    z-index: 1;
}

#topMenuBar {
    background: transparent;
    float: left;
    width: auto;
}

#topMenuBar > ul {
    font-size: 18px;
    color: #000;
    padding: 0;
}

#topMenuBar .level0 {
    margin: 0;
}

#topMenuBar a {
    color: #000;
    padding: 0 20px;
    line-height: 50px;
}

#topMenuBar a:hover {
    color: #ccc
}

/* Menu */

/* search */
.block-search {
    display: block;
    float: left;
    padding: 0;
    margin-left: 15px;
    width: 200px;
    line-height: 45px;
}

#search_mini_form {
    position: relative;
    padding: 0 0 0 35px;
}

#search_mini_form .nested {
    display: none;
}

#search_mini_form .control {
    padding: 0;
}

#search {
    padding: 0;
    border: none;
    outline: 0;
    box-shadow: none;
    left: 0;
    vertical-align: middle;
    font-size: 18px;
}

#search::-webkit-input-placeholder {
    color: #a2a2a2;
    font-weight: bold;
}

#search:-moz-placeholder { /* Firefox 18- */
    color: #a2a2a2;
    font-weight: bold;
}

#search::-moz-placeholder { /* Firefox 19+ */
    color: #a2a2a2;
    font-weight: bold;
}

#search:-ms-input-placeholder {
    color: #a2a2a2;
    font-weight: bold;
}

#search_mini_form .action.search {
    left: 0;
    padding: 0;
}

#search_mini_form .action.search::before {
    font-size: 26px;
    vertical-align: middle;
    background: url("/pub/media/images/icon/search.png") no-repeat center;
    color: transparent;
    width: 20px;
}

/* #Search */

/* # Header */

/* Slider Home */
.productSlider {
    padding: 0 40px;
}

.carousel.slide .slideCtr {
    position: absolute;
    top: 0;
    height: 100%;
    width: 40px;
}

.carousel.slide .slideCtr.prevButtonWrap {
    left: 0;
}

.carousel.slide .slideCtr.nextButtonWrap {
    right: 0;
}

.carousel.slide .slideCtr > img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.titPSlide {
    text-align: center;
    color: #3f3f3f;
    padding: 15px 0;
    margin: 0;
}

.pricePSlide {
    text-align: center;
    color: #3f3f3f;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.isSaleLB:before, .isSaleLB::before {
    content: '\00a0\00a0\00a0 SALE';
    position: absolute;
    left: 0;
    bottom: 0;
    background: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    z-index: 1;
    text-align: left;
    line-height: 130px;
    width: 0;
    height: 0;
    margin: 0;
    border-right: 80px solid transparent;
    border-bottom: 80px solid #000;
}

.isNewLB:after, .isNewLB::after {
    content: '\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 NEW';
    top: 0;
    right: 0;
    position: absolute;
    background: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    z-index: 1;
    line-height: 30px;
    width: 0;
    height: 0;
    margin: 0;
    border-right: 80px solid #000;
    border-bottom: 80px solid transparent;
}

p.headHome {
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding: 0 0 30px;
}

.productSlider .row > .HS-item-Resp {
    padding: 10px;
    float: left;
    margin: 0 0 20px;
    width: 25%;
}

@media only screen and (min-width: 480px) and (max-width: 980px ) {
    .productSlider .row > .HS-item-Resp {
        width: 50%;
    }

    .productSlider .row > .HS-item-Resp:nth-child(2n+1) {
        clear: both;
    }
}

@media only screen and (max-width: 479px ) {
    .productSlider .row > .HS-item-Resp {
        width: 100%;
    }
}

/* # Slider Home */

@media only screen and (max-width: 767px) {
    .top-container {
        padding: 0;
    }
}

/* Category page */
.page-title {
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.category-description {
    margin: 0;
    padding: 20px 0;
}

.filter .block-subtitle {
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 0;
    color: #222;
    text-transform: uppercase;
}

.filter-options-content {
    margin: 0;
    padding: 0;
}

.filter-options-title {
    padding: 10px 40px 0 0;
}

.page-products .toolbar .limiter {
    display: block;
}

.page-products .sorter {
    float: left;
    left: 0;
}

.products.wrapper ~ .toolbar .limiter,
.products-grid .product-item-info .product-item-inner {
    display: none !important;
}

.products-grid .product-item-info:hover {
    margin: 0;
    padding: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

}

.product-item-name {
    text-align: center;
}

.products.list .price-label {
    display: none;
}

.products.list .old-price .price {
    text-decoration: line-through;
}

.products.list .special-price,
.products.list .old-price {
    display: inline-block;
}

.products.list .product-item .price-box {
    margin: 10px 0 25px;
    text-align: center;
}

.isSalePr .product-image-wrapper:before {
    content: '\00a0\00a0\00a0 SALE';
    position: absolute;
    left: 0;
    bottom: 0;
    background: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    z-index: 1;
    text-align: left;
    line-height: 130px;
    width: 0;
    height: 0;
    margin: 0;
    border-right: 80px solid transparent;
    border-bottom: 80px solid #000;
}

.isNewPr .product-image-wrapper:after {
    content: '\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 NEW';
    top: 0;
    right: 0;
    position: absolute;
    background: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    z-index: 1;
    line-height: 30px;
    width: 0;
    height: 0;
    margin: 0;
    border-right: 80px solid #000;
    border-bottom: 80px solid transparent;
}

.products.wrapper + .toolbar .pages {
    width: 100%;
}

.page-products .products-grid .product-items {
    margin: 0 -15px;
}

.page-products .products-grid .product-item {
    margin: 0;
    width: 33.3333%;
    padding: 0 15px;
}

.page-products .product-item-info {
    width: 100%;
}

.product-image-container {
    width: 100% !important;
}

.product-image-photo {
    width: 100%;
}

@media only screen and (min-width: 480px) and (max-width: 992px) {
    .page-products .products-grid .product-item {
        width: 50%;
    }
}

@media only screen and (max-width: 479px) {
    .page-products .products-grid .product-item {
        width: 100%;
    }
}

/* # Category page */